.navbar{
    width:100%;
    padding:15px 8%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* LOGO */

.navbar .logo{
    width:180px;
    height:auto;
}

/* MENU */

.navbar-menu{
    display:flex;
    list-style:none;
    gap:30px;
    font-size:16px;
    color:#650a0a;
}

/* RIGHT SIDE */

.navbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

/* BUTTON */

.navbar button{
    background:transparent;
    font-size:15px;
    color:#333;
    border:1px solid #333;
    padding:7px 18px;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
}

.navbar button:hover{
    background:tomato;
    color:white;
}

/* ACTIVE MENU */

.navbar .active{
    border-bottom:2px solid tomato;
}

/* SEARCH ICON DOT */

.navbar-search-icon{
    position:relative;
}

.navbar-search-icon .dot{
    position:absolute;
    width:8px;
    height:8px;
    background:tomato;
    border-radius:50%;
    top:-4px;
    right:-4px;
}
.navbar{
    border-bottom:1px solid #eee;
}